%table( summary="Information about following/followers")
  %tr
    %td.main
      %h1
        = @title
      - unless @users.empty?
        %ul.users
          = render @users
        = will_paginate @users
    %td.sidebar.round
      = render 'user_stat'
      - unless @users.empty?
        - @users.each do |user|
          = link_to gravatar_for(user, :size => 30), user
